			/*HEADER*/
#logo{
	width: 65%;
}
a.menu:hover{
	background-color: red !important;
	color: white !important;	
}
a#menu_negro:hover{
	background-color: gray !important;
	color: white !important;
}
			/*PORTADA*/
.portada{
	background-image: url("../images/slider1.jpg");
	background-size: 100% 100%;
}
.borde_h1{
	border: 2px solid white;
}
			/*PORTADA2*/
.portada2{
	background-image: url("../images/client-bg.jpg");
	background-size: 100% 100%;
}
			/*Clothing*/
.ng-negro{
	background-color: black;
}
			/*Blog*/
.i{
	font-size: 55px;
}
.borde_p{
	border: 1px solid black;
}
			/* Footer */
.bg-gray{
	background-color: gray;
}